# Dependencies
node_modules/

# Build outputs
dist/
/tmp
/out-tsc

# Angular
.angular/

# Environment
.env
*.env.local

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Coverage
/coverage
