@let _label = label();
@let _desc = description();
<label
  class="dods-checkbox"
  [class.dods-checkbox--checked]="checked()"
  [class.dods-checkbox--indeterminate]="indeterminate()"
  [class.dods-checkbox--disabled]="disabled()"
  [for]="fieldId"
>
  <input
    class="dods-checkbox__native"
    type="checkbox"
    [id]="fieldId"
    [checked]="checked()"
    [indeterminate]="indeterminate()"
    [disabled]="disabled()"
    (change)="onChangeEvent($event)"
  />
  <span class="dods-checkbox__box" aria-hidden="true">
    @if (indeterminate()) {
      <span class="dods-checkbox__dash"></span>
    } @else {
      <svg class="dods-checkbox__check" viewBox="0 0 16 16" fill="none">
        <path d="M3 8.5l3.2 3.2L13 4.5" stroke="currentColor" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    }
  </span>
  @if (_label || _desc) {
    <span class="dods-checkbox__text">
      @if (_label) { <span class="dods-checkbox__label">{{ _label }}</span> }
      @if (_desc)  { <span class="dods-checkbox__desc">{{ _desc }}</span> }
    </span>
  }
</label>
