<div class="dods-tabs__list" role="tablist">
  @for (tab of tabs(); track tab.value) {
    <button
      type="button"
      role="tab"
      class="dods-tabs__tab"
      [class.dods-tabs__tab--active]="tab.value === active()"
      [class.dods-tabs__tab--disabled]="tab.disabled"
      [attr.aria-selected]="tab.value === active() ? 'true' : 'false'"
      [disabled]="tab.disabled ?? false"
      (click)="select(tab)"
    >
      @if (tab.icon) { <i [class]="tab.icon + ' dods-tabs__icon'" aria-hidden="true"></i> }
      <span class="dods-tabs__label">{{ tab.label }}</span>
      @if (tab.badge) {
        <span class="dods-tabs__badge">{{ tab.badge }}</span>
      }
    </button>
  }
</div>
